@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color:#333;
  color: #222;
  overflow-x: hidden;
}

.container {
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
  background-color: #fafafa;
  transform-origin: top left;
  transition: transform 0.5s linear;
}

.container.show-nav {
  transform: rotate(-20deg);
}  

.container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle {
  position: relative;
  background-color: #ff7979;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: transform 0.5s linear;
}

.circle button {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 26px;
  cursor: pointer;
}

.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
}

.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 30px;
}

nav ul li {
  text-transform: uppercase;
  color: #fff;
  margin: 40px;
  transform: translateX(-200%);
  transition: transform 0.4s ease-in;
  cursor: pointer;
}

nav ul li i {
  font-size: 20px;
  margin-right: 10px;
}

nav ul li:nth-child(1) {
  margin-left: 15px;
}

nav ul li:nth-child(2) {
  margin-left: 30px;
}

.content {
  max-width: 1000px;
  margin: 50px auto;
}

.content img {
  max-width: 70%;
}

.content h1 {
  margin: 0;
}

.content small {
  color: #555;
  font-style: italic;
}

.content p {
  color: #333;
  line-height: 1.5;
}